
*/build/
build/
**/out/

captures/
output.json
*.ap_ 
*.aab
*.apk
*.aar
*.dex
*.class
*.map

.navigation/
freeline/
freeline_project_description.json

.gradle/
gradle-app.setting

local.properties

gradlew.bat~
gradlew~

kapt/
ksp/
build/kotlin/
*/build/kotlin/

*.class
*.jar
*.war
*.ear

*.jks
*.keystore
*.pem
*.key
*.p12

.signing/
.keystore

.idea/
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/inspectionProfiles

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/shelf/

*.iml

com_crashlytics_export_strings.xml
crashlytics-build.properties
fabric.properties

*.log

.cxx/
obj/
*.o
*.so

*.hprof
*.lock

adbkey
adbkey.pub

*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
desktop.ini

*.orig
*.bak
*.tmp
*.temp

node_modules/
npm-debug.log
yarn-error.log

venv/
.env/

bazel-bin/
bazel-out/
bazel-testlogs/
buck-out/
.buckd/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

lint/intermediates/
lint/generated/
lint/tmp/
lint-results.xml
lint-results.html
